altgraph
backcall
colorama
decorator
future
ipdb
ipython
ipython-genutils
jedi
matplotlib-inline
parso
pefile
pickleshare
Pillow
pip-autoremove
pipdeptree
prompt-toolkit
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyQt6
PyQt6-Qt
PyQt6-sip
PySide6
pywin32-ctypes
toml
traitlets
wcwidth