aenum==3.0.0
altgraph==0.17
attrs==21.2.0
backcall==0.2.0
binaryiotools==2020.2.2
blendmodes==2021
brackettree==0.2.5
colorama==0.4.4
decorator==5.0.7
defusedxml==0.7.1
future==0.18.2
gimpformats==2021.0.1
ipdb==0.13.7
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.18.0
layeredimage==2021.2.3
matplotlib-inline==0.1.2
metprint==2020.7.1
numpy==1.20.3
parso==0.8.2
pefile==2021.5.13
pickleshare==0.7.5
Pillow==8.2.0
pip-autoremove==0.9.1
prompt-toolkit==3.0.18
psdtoolsx==19.5.0
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pylsr==2021
pyora==0.3.11
pypdn==1.0.6
PyQt6==6.1.0
PyQt6-Qt6==6.1.0
PyQt6-sip==13.1.0
PySide6==6.1.0
pywin32-ctypes==0.2.0
shiboken6==6.1.0
toml==0.10.2
traitlets==5.0.5
wcwidth==0.2.5