altgraph==0.17
backcall==0.2.0
colorama==0.4.4
decorator==5.0.7
future==0.18.2
ipdb==0.13.7
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.18.0
matplotlib-inline==0.1.2
parso==0.8.2
pefile==2021.5.13
pickleshare==0.7.5
Pillow==8.2.0
pip-autoremove==0.9.1
pipdeptree==2.0.0
prompt-toolkit==3.0.18
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyQt6==6.1.0
PyQt6-Qt6==6.1.0
PyQt6-sip==13.1.0
PySide6==6.1.0
pywin32-ctypes==0.2.0
shiboken6==6.1.0
toml==0.10.2
traitlets==5.0.5
wcwidth==0.2.5